<table class="top-bar" *ngIf="!showCheckmark">
  <tr>
    <td class="top-bar__back" (click)="decreasePage()" matRipple [matRippleUnbounded]="false">
      <img src="assets/back.svg" class="top-bar__back-icon" />
      <ng-container i18n="@@filament-back">
        back
      </ng-container>
    </td>
    <td class="top-bar__center">
      <img src="assets/filament.svg" class="top-bar__center-icon" *ngIf="page === 0" />
      <div class="filament__progress-bar-wrapper" *ngIf="page > 0">
        <div class="filament__progress-bar" id="progressBar"></div>
      </div>
    </td>
    <td class="top-bar__next" (click)="increasePage()" matRipple [matRippleUnbounded]="false">
      <ng-container i18n="@@filament-skip">
        skip
      </ng-container>
      <img src="assets/next.svg" class="top-bar__next-icon" />
    </td>
  </tr>
</table>

<div class="filament">
  <app-filament-choose (spoolChange)="setSpool($event)" *ngIf="etape === EtapeFilament.Choix"></app-filament-choose>
  <app-filament-heat-nozzle
    *ngIf="etape === EtapeFilament.Chauffage"
    (increasePage)="increasePage()"
    [currentSpool]="currentSpool"
    [selectedSpool]="selectedSpool"
  ></app-filament-heat-nozzle>
  <app-filament-purge-filament
    *ngIf="etape === EtapeFilament.Purge"
    (purgeDone)="setSpoolSelection()"
  ></app-filament-purge-filament>
  <div class="checkmark" *ngIf="showCheckmark">
    <ng-lottie
      id="checkmarkAnimation"
      [options]="checkmarkOptions"
      (animationCreated)="setAnimationSpeed($event)"
    ></ng-lottie>
  </div>
</div>
